<div style="background-color: black;height: 6vh; display: flex; justify-content: right; padding-right: 2vw; align-items: center;"><input  type="text" style="padding-left: 5px;font-size: 3vh;height: 5vh; width: 16vw;" ><button style="height: 5vh; width: 10vw;">SUBMIT</button></div>
<div style="display: flex; justify-content: left; background-color: black; color: white;">
 <ul style="display: flex; justify-content: center; align-items: center; padding: 1vh;" *ngFor="let person of people"><div >
  <br><img style="width: 12vw; height: 30vh; margin: 0; padding: 0" src="{{ person.pic }}"> <br><div style="display: flex; justify-content: center; align-items: center"> {{ person.name }}</div> <br> </div>
 </ul>
</div>

<div style="display: flex; justify-content: left; background-color: black; color: white;">
 <ul style="display: flex; justify-content: center; align-items: center; padding: 1vh;" *ngFor="let person of people"><div >
  <br><img style="width: 12vw; height: 30vh; margin: 0; padding: 0" src="{{ person.pic }}"> <br><div style="display: flex; justify-content: center; align-items: center"> {{ person.name }}</div> <br> </div>
 </ul>
</div>
<div style="display: flex; justify-content: left; background-color: black; color: white;">
    <ul style="display: flex; justify-content: center; align-items: center; padding: 1vh;" *ngFor="let person of people"><div >
     <br><img style="width: 12vw; height: 30vh; margin: 0; padding: 0" src="{{ person.pic }}"> <br><div style="display: flex; justify-content: center; align-items: center"> {{ person.name }}</div> <br> </div>
    </ul>
   </div>
   

   <div style="display: flex; justify-content: left; background-color: black; color: white;">
    <ul style="display: flex; justify-content: center; align-items: center; padding: 1vh;" *ngFor="let person of people"><div >
     <br><img style="width: 12vw; height: 30vh; margin: 0; padding: 0" src="{{ person.pic }}"> <br><div style="display: flex; justify-content: center; align-items: center"> {{ person.name }}</div> <br> </div>
    </ul>
   </div>
   

   <div style="display: flex; justify-content: left; background-color: black; color: white;">
    <ul style="display: flex; justify-content: center; align-items: center; padding: 1vh;" *ngFor="let person of people"><div >
     <br><img style="width: 12vw; height: 30vh; margin: 0; padding: 0" src="{{ person.pic }}"> <br><div style="display: flex; justify-content: center; align-items: center"> {{ person.name }}</div> <br> </div>
    </ul>
   </div>
   
   
